{% import 'admin/layout.html' as layout with context -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}MathHarbor - Platform{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='admin/css/admin.css') }}" rel="stylesheet">
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          {% block brand %}
          <span class="brand">&nbsp;MathHarbor - Dashboard</span>
          {% endblock %}
          {% block main_menu %}
          {% endblock %}
          {% block menu_links %}
          {% endblock %}
          {% block access_control %}
          {% endblock %}
        </div>
      </div>

      {% block messages %}
      {% endblock %}

      

      {% block body %}{% endblock %}
    </div>
    {% endblock %}

    {% block tail_js %}
    <script src="{{ url_for('admin.static', filename='vendor/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='select2/select2.min.js') }}" type="text/javascript"></script>
    {% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>
